<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h2 id="subscribe-to-the-calendar">Subscribe to the calendar</h2>
        <p><strong>TL;DR</strong> Click the link below and subscribe. The calendar will automatically update as we make changes (like game cancellations or snack schedule updates).</p>
        <p>For more detail, here's a quick walkthrough with some examples shown on iPhone/iPad. But this also works on Mac, Outlook, Chrome, or Google Calendar (Add from URL), etc. Using the device you want to view the calendar events, click this link below.</p>
        {{ content }}
        <h3 id="from-an-iphone-or-ipad">From an iPhone or iPad</h3>
        <p>You'll see this prompt below. Click Subscribe. From here you can go directly to your calendar or click "Done" to close it.</p>
        <p><img alt="Subscribe to calendar" src="/assets/ios-subscribe-1.png" width="320"></p>
        <p><img alt="View events or done" src="/assets/ios-subscribe-2.png" width="320"></p>
        <p>You should now see events in your calendar for our practices and games. (Note: You will not receive notifications when this calendar changes).</p>
        <p><img alt="View events or done" src="/assets/cal-sample.png" width="320"></p>
        <h2 id="remove-the-calendar-post-season-">Remove the calendar (post-season)</h2>
        <p>Open your Settings -&gt; Accounts &amp; Passwords, and Click on Subscribed Calendars</p>
        <p><img alt="Accounts &amp; Passwords" src="/assets/ios-remove-1.png" width="320"></p>
        <p><img alt="Subscribed calendars list" src="/assets/ios-remove-2.png" width="320"></p>
        <p>Click the calendar you want to remove. In this example, "2018 (Fall) Kickers - 3rd Grade Girls". From here you can see details of the calendar. Scroll to the bottom of the screen and find the Delete Account button. (This just deletes the calendar subscription, but you will receive confirmation whether you want to do it or not). Don't be afraid. You can always re-subscribe if you do it my mistake.</p>
        <p><img alt="Calendar details." src="/assets/ios-remove-3.png" width="320"></p>
        <p>That's it!!</p>
      </section>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
